body{
    background-color: coral;
}

.logo-holder{
    width:80px;
    height:80px;
    border-radius: 10px;
}

.input{
    display:flex;
    flex-flow: wrap column;
    margin:20px 80px;
    padding:50px 28% ;
}
.search-container{
    text-align: center;
}
#list-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin:50px;
}

.meal-name img{
    width:100%;
    border-radius: 14px;
    box-shadow: 5px -4px 5px rgb(219, 184, 184);
}
.meal-name{
    border: 1px solid green;
    border-radius: 15px;
    padding: 15px;
    width: 200px;
    text-align: center;
    background-color: cornflowerblue;
    box-sizing: border-box;
}

#detail-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin:50px;
}


.detail-class img{
    width: 200px;
    border-radius: 12px;
}
.detail-class {
   
    border-radius: 15px;
    padding: 15px;
    width: 200px;
    
}
#detail-button{
 background-color:saddlebrown ;
 border-radius: 5px;
}
